<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysNoticeSendMapper">

    <resultMap type="com.ruoyi.system.domain.SysNoticeSend" id="SysNoticeSendResult">
        <result property="sendId" column="send_id"/>
        <result property="noticeId" column="notice_id"/>
        <result property="userId" column="user_id"/>
        <result property="readFlag" column="read_flag"/>
        <result property="readTime" column="read_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    
    <resultMap id="NoticeSendModel" type="com.ruoyi.system.model.NoticeSendModel" >
		<result column="send_id" property="sendId" jdbcType="BIGINT"/>
		<result column="notice_id" property="noticeId" jdbcType="BIGINT"/>
		<result column="user_id" property="userId" jdbcType="BIGINT"/>
		<result column="notice_title" property="noticeTitle" jdbcType="VARCHAR"/>
		<result column="notice_content" property="noticeContent" jdbcType="VARCHAR"/>
		<result column="sender" property="sender" jdbcType="VARCHAR"/>
		<result column="priority" property="priority" jdbcType="VARCHAR"/>
		<result column="notice_type" property="noticeType" jdbcType="VARCHAR"/>
		<result column="send_time" property="sendTime" jdbcType="TIMESTAMP"/>
	</resultMap>
    
    <select id="getMyNoticeSendList" parameterType="Object"  resultMap="NoticeSendModel">
	   select
	   		sns.send_id,
	   		sns.notice_id,
	   		sns.user_id,
	   		sns.read_flag,
	   		sa.notice_title as notice_title,
	   		sa.notice_content as notice_content,
	   		u.nick_name as sender,
	   		sa.priority as priority,
	   		sa.notice_type as notice_type,
	   		sa.send_time as send_time
	   from sys_notice_send sns
	   left join sys_user u ON sns.user_id = u.user_id
	   left join sys_notice sa ON sns.notice_id = sa.notice_id
	   where sa.send_status = '1'
	   and sa.status = '0'
	   and sns.user_id = #{noticeSendModel.userId}
	   <if test="noticeSendModel.noticeTitle !=null and noticeSendModel.noticeTitle != ''">
	   		and sa.notice_title LIKE concat(concat('%',#{noticeSendModel.noticeTitle}),'%')
	   </if>
	   <if test="noticeSendModel.sender !=null and noticeSendModel.sender != ''">
	   		and sa.sender LIKE concat(concat('%',#{noticeSendModel.sender}),'%')
	   </if>
	   <if test="noticeSendModel.readFlag !=null and noticeSendModel.readFlag != ''">
	   		and sns.read_flag = #{noticeSendModel.readFlag}
	   </if>
        <if test="noticeSendModel.noticeType !=null and noticeSendModel.noticeType != ''">
            and sa.notice_type = #{noticeSendModel.noticeType}
        </if>
	   order by sns.read_flag,sa.send_time desc
	</select>

</mapper>
